<div class="ui segment">
  <div class="ui form">
    <h3>Group Mapping Settings</h3>

    <table class="ui selectable striped compact padded table">
      <thead>
        <tr>
          <th class="two wide"></th>
          <th class="seven wide">Group Name</th>
          <th class="seven wide">Rename To</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: groupMapping">
        <tr>
          <td>
            <div class="ui mini icon buttons">
              <button class="ui red button" data-bind="click: $component.removePattern">
                <i class="delete icon"></i>
              </button>
            </div>
          </td>
          <td data-bind="text: groupName"></td>
          <td data-bind="text: renameTo"></td>
        </tr>
      </tbody>
      <tfoot>
        <td>
          <div class="ui mini icon buttons">
            <button class="ui green button" data-bind="click: addPattern, enable: isAddEnabled">
              <i class="add icon"></i>Add
            </button>
          </div>
        </td>
        <td class="five wide">
          <div class="field">
            <input placeholder="Original group name" type="text" data-bind="textInput: editGroupName" />
          </div>
        </td>
        <td class="five wide">
          <div class="field">
            <input placeholder="Rename group to" type="text" data-bind="textInput: editRenameTo" />
          </div>
        </td>
      </tfoot>
    </table>

    <div class="ui hidden divider"></div>

    <button class="ui primary fluid button" data-bind="click: saveSettings">Save settings</button>
  </div>
</div>
